html {
    display: flex;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.headerimg {
        width: 1500px;
        height: 300px;
        max-width: 100%;
        object-fit: cover;

}

.navigationBar {
    background-color: #101357;
    max-height: 140px;
    width: 100%;
    justify-content: flex-end;

}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    
}

.navigationBar {
    color: white;
    font-family: 'Comfortaa', cursive;
}

.navigationBar a {
    display: inline-block;
    margin-right: 20px;
    margin-top: 50px;
    height: 80px;
    color: white;
    float: right;
}

.navigationBar a:active {
    color: #469E9F;
}


nav a:hover {
    color: #F0B13F;
}

#active {
    color: #469E9F;
}

footer {
    background-color: #101357;
    padding: 30px 30px 10px 30px;
    text-align: center;
    color: white;
}

.headline {
    background-color: #101357;
    color: white;
    text-align: center;
    max-height: 200px;
    padding: 50px;
}

.mainCopy {
    padding: 15px;
    text-align: left;
    background-color: white;
}

.sections {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	justify-content: space-evenly;	
    margin: 0;    
}

.city_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    flex-direction: column;
    color: black;
    width: 250px;
    justify-content: space-evenly;
    border: black solid 2px;
    background-color: #F1A8A2;
    margin: 2px;
    padding: 2px;
}

.city_card_image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 3px;
    display: flex;
    justify-content: center;
}

.people_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    color: black;
    background-color: #F0B13F;
    border: black solid 2px;
    width: 250px;
    margin: 2px;
    padding: 2px;
}

.people_card_image {
    height: 200px;
    width: 200px;
    margin: 3px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}


.landmark_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    color: black;
    width: 250px;
    border: black solid 2px;
    background-color: #469E9F;
    margin: 2px;
    padding: 2px;
}

.landmark_card_image {
    height: 200px;
    width: 200px;
    margin: 3px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.card_header {
    background: white;
    color: black;
}




