html {
    display: flex;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.headerimg {
        width: 1500px;
        height: 300px;
        max-width: 100%;
        object-fit: cover;

}

.navigationBar {
    background-color: #101357;
    max-height: 140px;
    width: 100%;
    justify-content: flex-end;

}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    
}

.navigationBar {
    color: white;
    font-family: 'Comfortaa', cursive;
}

.navigationBar a {
    display: inline-block;
    margin-right: 20px;
    margin-top: 50px;
    height: 80px;
    color: white;
    float: right;
}

.navigationBar a:active {
    color: #469E9F;
}


nav a:hover {
    color: #F0B13F;
}

#active {
    color: #469E9F;
}

footer {
    background-color: #101357;
    padding: 30px 30px 10px 30px;
    text-align: center;
    color: white;
}

footer a:hover {
    color: white;

}

.headline {
    background-color: #101357;
    color: white;
    text-align: center;
    max-height: 200px;
    padding: 50px;
}

.mainCopy {
    padding: 15px;
    text-align: left;
    background-color: white;
}

.sections {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    text-align: center; 
    
}

ul {
    list-style-type: none;
}


.cities{
    background-color: #F1A8A2;
    width: 33%;
}

.landmarks{
    background-color: #F0B13F;
    width: 33%;
    

}

.citizens{
    background-color: #469E9F;
    color: white;
    width: 33%;
}

footer a:hover {
    color: #469E9F;
}






