html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}

body {
    width: 1600px;
    margin: auto;
}

header {
}

.headerimg {
    width: 1600px;
    height: 300px;
    max-width: 100%;
    object-fit: cover;
}

.navigationBar {
    background-color: #101357;
    color: white;
    max-height: 140px;
    width: 100%;
    justify-content: flex-end;

}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    height: 140px;
    margin-right: 20px;
    
}

.navigationBar {
    color: black;
}

.navigationBar a {
    float: right;
    display: inline-block;
    margin-right: 20px;
    margin-top: 50px;
    height: 80px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #F0B13F;
}

#active {
    color: #469E9F;
}

main {
    background-color: white;
    color: black;
}

footer {
    background-color: #101357;
    padding: 30px 30px 10px 30px;
    text-align: center;
    color: white;
}

.headline {
    background-color: #101357;
    color: white;
    text-align: center;
    max-height: 200px;
    padding: 50px;
}

.mainCopy {
    margin: 15px;
    text-align: center;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-size: large;
    color: black;
}

.iconImage {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;

}


.link {    
    color: black;
    text-decoration: none;
}

p a:hover {    
    color: #469E9F;
}